(*unhide hidden cell for tips*)

### Exercise 1
Write a Python program to get the Fibonacci series between 0 to i. i has to be >= 1 and is input by user. The Fibonnaci seqence is a sequence of numbers where the next number in the sequence is the sum of the previous two numbers in the sequence. The sequence looks like this: 1, 1, 2, 3, 5, 8, 13, â€¦

Example:
* Input: 10
* Output: [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
# Input: 3
# Output: [1,1,2]

# loop
# l = [1... l[i-2], l[i-1], l[i], ...]
# l[i] = l[i-2] + l[i-1]

# what about when i = 1, l[1]? l[0]?

# return l

In [ ]:
10

1st -> 1 
2nd -> 1
3rd -> 1 + 1
4th -> 2nd + 3rd
5th -> 3rd + 4th
..
i-th ->?

for i in range(10):
    print(i)

l = []
for i in range (10):
    l.append
    
n = 10
l = [1,1,2]
i = 3
l.append(next_num)
next_num = ? (l[3] = ?)

In [78]:
def fibonacci_series(n):

    l=[1,1]
    
    for i in range(n):
        if i <n-2:
            l.append(l[-2]+l[-1])
    print(l)

In [79]:
fibonacci_series(15)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [80]:
fibonacci_series(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### Exercise 2
Write a program which can compute the factorial of a given number. 
And then write a program to return the series of factorials from 1 to n, given an input of integer n. The results should be printed in a comma-separated sequence on a single line. 

Example:
* Input: 8
* Output: [1, 1, 2, 6, 24, 120, 720, 5040, 40320]

In [ ]:
# factorial of 8 = 8*7*6*5*4*3*2*1
# first part: get factorial of a number
# second part: get factorial of each number in a list

# first part:
# i -> from 1 to i, multiply them together
# what about if i == 0? factorial of 0 is 1

# second part:
# loop from 0 to input

In [ ]:
# 0: [1]
# 1: [1,1]
# 2: [1,1,1*2]
# 3: [1,1,1*2,1*2*3]
# 4: [1,1,1*2,1*2*3, 1*2*3*4]

In [74]:
def factroial_series(n):
    l=[1,1,2]

    for i in range(n):
        if i <n-2:
            l.append(l[-1]*(i+3))
    print(l)

In [75]:
factroial_series(8)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320]

In [76]:
factroial_series(12)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800, 39916800, 479001600]